* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    background-color: #252525;
    color: white;
    padding: 15px 0 15px 0;
}

a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

img {
    width: 50%;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 70px;
}

.col1 {
    border: 0.5px solid black;
    padding: 300px 70px 40px 70px;
    transition: transform 0.3s ease;
}

.col2 {
    border: 0.5px solid black;
    padding: 300px 70px 40px 70px;
    transition: transform 0.3s ease;
}

.col3 {
    border: 0.5px solid black;
    padding: 300px 70px 40px 70px;
    transition: transform 0.3s ease;
}

.col1:hover {
    transform: scale(1.1);
}

.col2:hover {
    transform: scale(1.1);
}

.col3:hover {
    transform: scale(1.1);
}

.cont {
    text-align: center;
}

.cont h2 {
    background-color: #252525;
    color: white;
    padding: 15px 0 15px 0;
}

.cont img {
    border: #252525;
}

.cont p {
    margin-top: 100px;
}

.cont a {
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding: 10px;
    margin-top: 100px;
}

.p {
    margin-bottom: 30px;
}